<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.xiaodingdang.xddjava.mbg.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="site.xiaodingdang.xddjava.mbg.model.Image">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BlogID" jdbcType="INTEGER" property="blogid" />
    <result column="FileName" jdbcType="VARCHAR" property="filename" />
    <result column="FilePath" jdbcType="VARCHAR" property="filepath" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BlogID, FileName, FilePath, CreatedAt
  </sql>
  <select id="selectByExample" parameterType="site.xiaodingdang.xddjava.mbg.model.ImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from image
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="site.xiaodingdang.xddjava.mbg.model.ImageExample">
    delete from image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="site.xiaodingdang.xddjava.mbg.model.Image">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into image (BlogID, FileName, FilePath, 
      CreatedAt)
    values (#{blogid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{createdat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="site.xiaodingdang.xddjava.mbg.model.Image">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogid != null">
        BlogID,
      </if>
      <if test="filename != null">
        FileName,
      </if>
      <if test="filepath != null">
        FilePath,
      </if>
      <if test="createdat != null">
        CreatedAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogid != null">
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="site.xiaodingdang.xddjava.mbg.model.ImageExample" resultType="java.lang.Long">
    select count(*) from image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update image
    <set>
      <if test="row.id != null">
        ID = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.blogid != null">
        BlogID = #{row.blogid,jdbcType=INTEGER},
      </if>
      <if test="row.filename != null">
        FileName = #{row.filename,jdbcType=VARCHAR},
      </if>
      <if test="row.filepath != null">
        FilePath = #{row.filepath,jdbcType=VARCHAR},
      </if>
      <if test="row.createdat != null">
        CreatedAt = #{row.createdat,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update image
    set ID = #{row.id,jdbcType=INTEGER},
      BlogID = #{row.blogid,jdbcType=INTEGER},
      FileName = #{row.filename,jdbcType=VARCHAR},
      FilePath = #{row.filepath,jdbcType=VARCHAR},
      CreatedAt = #{row.createdat,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="site.xiaodingdang.xddjava.mbg.model.Image">
    update image
    <set>
      <if test="blogid != null">
        BlogID = #{blogid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        FilePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null">
        CreatedAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.xiaodingdang.xddjava.mbg.model.Image">
    update image
    set BlogID = #{blogid,jdbcType=INTEGER},
      FileName = #{filename,jdbcType=VARCHAR},
      FilePath = #{filepath,jdbcType=VARCHAR},
      CreatedAt = #{createdat,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>